@import '../../../variables';

.CardBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 14rem;
  color: white;

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
  }

  h5 { font-weight: 100; }
}

.LowerBlock {
  display: flex;
  justify-content: space-between;
}

.StreamerInfo, .WatchersInfo {
  display: flex;
  align-items: center;
  gap: 14px;

  font-size: $fs6;
  img { width: 1rem; }
}

.WatchersInfo {
  color: $secondaryLight;

  svg {
    width: 20px;
    path {
      fill: $secondaryLight;
    }
  }
}