@import '../variables';

.primary-color {
  color: $primary;
}

.secondary-light-color {
  color: $secondaryLight;
}

.secondary-main-color {
  color: $secondaryMain;
}

.secondary-dark-color {
  color: $secondaryDark;
}

.black-light-color {
  color: $blackLight;
}

.black-main-color {
  color: $blackMain;
}

.white-main-color {
  color: $whiteMain;
}