@import '../variables';

// fonts
//@font-face
//  font-family: 'MontserratBlack'
//  src: url('fonts/Montserrat/Montserrat-Black.ttf') format('truetype')

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 25.00px;
}

body {
  background: #ffffff;
  margin: auto 0;
}

@media (max-width: $md) {
  html {
    font-size: 20.00px;
  }
}

@media (max-width: $xs) {
  html {
    font-size: 16.00px;
  }
}

/* scrollbar styles */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  opacity: 0.5;

  &-track {
    background: #f1f1f1;
  }

  &-thumb {
    background: #C0C0C0;

    &:hover {
      opacity: 1;
      background: #1E1E1E;
    }
  }
}
