@import '../variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 25.00px;
}

@media (max-width: $md) {
  html {
    font-size: 20.00px;
  }
}

@media (max-width: $xs) {
  html {
    font-size: 16.00px;
  }
}
