@import '../variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 25.00px;
}

@media (max-width: $md) {
  html {
    font-size: 20.00px;
  }
}

@media (max-width: $xs) {
  html {
    font-size: 16.00px;
  }
}

body {
  background: $blackMain;
  margin: auto 0;
  font-family: 'Montserrat', sans-serif !important;
}

input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  background: $blackLight;
  color: $secondaryLight;

  transition: all .2s ease-in-out;

  &:hover, &:focus {
    outline: 1px solid $primary;
  }

  &::placeholder {
    padding: 0;
  }
}

a {
  line-height: 0;
  text-decoration: none!important;
}

button {
  line-height: 1.3!important;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  opacity: 0.5;

  &-track {
    background: #f1f1f1;
  }

  &-thumb {
    background: #C0C0C0;

    &:hover {
      opacity: 1;
      background: #1E1E1E;
    }
  }
}
