@import '../variables';

.mySwiper {
  position: relative;
}

.swiper {
  width: 90%;
  height: 15rem;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: $blackMain;
}

.swiper-slide {
  height: 10rem;

  article {
    width: 100%;
  }
  &-active {
    article {
      transform: scale(1.2);
    }
  }
}
