// font-size
$fs1: 1.728rem;
$fs2: 1.44rem;
$fs3: 1.2rem;
$fs4: 1rem;
$fs5: 0.833rem;
$fs6: 0.694rem;

// font-weight
$fwB: 900;
$fwM: 500;
$fwR: 400;

// media queries
$xxl:  1400px;
$xl:  1200px;
$lg:  992px;
$md:  768px;
$sm:  540px;
$xs:  360px;